<div class="list-group list-group-flush">
    <ul id="menu-home-ul" class="nav nav-pills">
        <li class="menu-home-li">
            <a href="{% url 'group_list' %}" class="active">Turmas</a>
        </li>
        <li class="menu-home-li">
            <a href="{% url 'judgment_facts_list' %}">Julgamento de Fatos</a>
        </li>
        <li class="menu-home-li">
            <a href="#">Estatísticas</a>
        </li>
        <li class="menu-home-li">
            <a href="#">Configurações</a>
        </li>
        <li class="menu-home-li">
            <a href="#">Sobre</a>
        </li>
        <li class="menu-home-li">
            <a href="#">Ajuda</a>
        </li>
        <li class="menu-home-li">
            <a href="{% url 'logout' %}">Sair</a>
        </li>
    </ul>
</div>