{% extends "__base.html" %}
{% load static %}

{% block extra_css %}
<link href="{% static "css/group_detail_page_styles.css" %}" rel="stylesheet" />
{% endblock extra_css %}

{% block base_content %}
    <div id="top-center-content">
        <ul id="head-group">
            <li class="li-head-group"><span class="span-head-group">Nome</span></li>
            <li class="li-head-group"><span class="span-head-group">ID</span></li>
            <li class="li-head-group"><span class="span-head-group">Disciplina</span></li>
            <li class="li-head-group"><span class="span-head-group">Curso</span></li>
            <li class="li-head-group"><span class="span-head-group">Unidade</span></li>
        </ul>
        <div id="line"></div>
        <ul id="body-group">
            <li class="li-body-group"><span class="span-body-group">{{ group.name }}</span></li>
            <li class="li-body-group"><span class="span-body-group">{{ group.id }}</span></li>
            <li class="li-body-group"><span class="span-body-group">{{ group.program }}</span></li>
            <li class="li-body-group"><span class="span-body-group">{{ group.course }}</span></li>
            <li class="li-body-group"><span class="span-body-group">{{ group.unit }}</span></li>
        </ul>
    </div>
    <div id="bottom-center-content">
        <ul id="head-studant-presentation">
            <li class="li-head-studant"><span class="span-head-studant">Alunos da Turma</span></li>
        </ul>
        <div id="line"></div>
        <ul id="sub-head-studant-presentation">
            <li class="li-sub-head-studant"><span class="span-head-studant">Nome do Aluno</span></li>
            <li class="li-sub-head-studant"><span class="span-head-studant">Matricula</span></li>
            <li class="li-sub-head-studant"><span class="span-head-studant">Email</span></li>
        </ul>
        <ul id="body-group">
            {% for studant in group.student.all %}
                <li class="li-body-studant"><span class="span-body-studant">{{ studant.user.name }}</span></li>
                <li class="li-body-studant"><span class="span-body-studant">{{ studant.id }}</span></li>
                <li class="li-body-studant"><span class="span-body-studant">{{ studant.user.email }}</span></li>
            {% endfor %}
        </ul>
        <div id="interation-buttons">
            <a href='{% url 'group_delete' group.id%}'><span class="btn btn-danger">Excluir</span></a>
            <a href='{% url 'group_update' group.id%}'><span class="btn btn-primary">Editar Turma</span></a>
            <a href='{% url 'group_list' %}'><span class="btn btn-success">Voltar</span></a>
        </div>
    </div>
{% endblock base_content %}
