{% extends "__base.html" %}
{% load static %}

{% block extra_css %}
<link href="{% static "css/group_list_page_styles.css" %}" rel="stylesheet" />
{% endblock extra_css %}

{% block action_buttons %}
    <a href='{% url 'group_create' %}'><span class="btn btn-success">+ Adicionar Turma</span></a>
{% endblock action_buttons %}

{% block base_content %}
    <div id="right-center-content">
        <ul id="head-group-presentation">
            <li class="li-head-group"><span class="span-head-group">Nome</span></li>
            <li class="li-head-group"><span class="span-head-group">ID</span></li>
            <li class="li-head-group"><span class="span-head-group">Disciplina</span></li>
            <li class="li-head-group"><span class="span-head-group">Curso</span></li>
            <li class="li-head-group"><span class="span-head-group">Unidade</span></li>
            <li class="li-head-group"><span class="span-head-group">Ações</span></li>
        </ul>
        <div id="line"></div>
        {% for group in object_list %}
        <ul id="body-group-presentation">
            <li class="li-body-group"><span class="span-body-group">{{ group.name }}</span></li>
            <li class="li-body-group"><span class="span-body-group">{{ group.id }}</span></li>
            <li class="li-body-group"><span class="span-body-group">{{ group.program }}</span></li>
            <li class="li-body-group"><span class="span-body-group">{{ group.course }}</span></li>
            <li class="li-body-group"><span class="span-body-group">{{ group.unit }}</span></li>
            <li class="li-body-group">
                <a href='{% url 'group_detail' group.id %}'><img class="image-actions" src="../../static/images/foreign.png" alt="Visualizar"></a>
                <a href='{% url 'group_update' group.id %}'><img class="image-actions" src="../../static/images/edit.png" alt="Editar"></a>
                <a href='{% url 'group_delete'  group.id %}'><img class="image-actions" src="../../static/images/trash.png" alt="Excluir"></a>
            </li>
        </ul>
        {% empty %}
            <ul id="body-group-presentation">
                <li id="empty-groups">Ainda não há turmas cadastradas</li>
            </ul>
        {% endfor %}
    </div>
{% endblock base_content %}
