 <!-- templates/registration/login.html -->
 {% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Login-Page</title>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="https://fonts.googleapis.com/css?family=Raleway" type="text/css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Overpass" type="text/css" rel="stylesheet"/>
    <link href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" type="text/css" rel="stylesheet"/>
    <link href="../../../static/assets/css/login_page_styles.css" rel="stylesheet" />
</head>
<body>
    <div id="base" class="">

      <!-- Unnamed (Rectangle) -->
      <div id="u1" class="ax_default box_1">
        <img id="u1_img" class="img " src="{% static "assets/img/u1.png" %}"/>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2" class="ax_default box_2">
        <img id="u2_img" class="img " src="{% static "assets/img/u2.png" %}"/>
      </div>

      <div id="login_page_login">
            <h2 id="fazer_login">Fazer login</h2>
            <form method="post">
              {% csrf_token %}
            <div class="control-group">
                <label class="control-label" for="username"></label>
                <div class="controls">
                    <input type="text" class="login_input" id="username" name="username"  placeholder="Usuário">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="password"></label>
                <div class="controls">
                    <input type="password" class="login_input" name="password" id="password" placeholder="Senha">
                </div>
            </div>
              <button id="login_page_login_button" type="submit">ENTRAR</button>
            </form>
            <!-- Unnamed (Rectangle) -->
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u9" class="ax_default paragraph">
        <div id="u9_div" class=""></div>
        <div id="u9_text" class="text ">
          <p><span>Olá, bem vindo!</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u10" class="ax_default paragraph">
        <div id="u10_div" class=""></div>
        <div id="u10_text" class="text ">
          <p><span>Entre com seus dados pessoais e <br> inicie sua jornada conosco!</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u11" class="ax_default primary_button">
        <div id="u11_div" class=""></div>
        <div id="u11_text" class="text ">
          <button id="u11_button" type="submit" onclick="location.href='{% url 'signup_type' %}'">CADASTRAR</button>
        </div>
      </div>
    </div>
</body>
</html>

