{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Sing-Up Teacher</title>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="https://fonts.googleapis.com/css?family=Raleway" type="text/css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Overpass" type="text/css" rel="stylesheet"/>
    <link href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" type="text/css" rel="stylesheet"/>
    <link href="../../../static/css/accounts.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
    <div id="base">
        <div id="signup-container">
            <div class="col-sm-12">
                <div id="signup-content" class="col-sm-6" >
                    <i id="id-back" class="fas fa-arrow-left" onclick="location.href='{% url 'signup_type' %}'"></i>
                    <div id="signup-container" class="ax_default paragraph">
                        <div id="u9_div" class=""></div>
                        <div id="u9_text" class="text ">
                            <p id="id-signin-user" class="information"><span>Bem vindo de volta!</span></p>
                            <p id="id-signin-information" class="information"><span>Já possui um cadastro? Se conecte ao seu perfil</span></p>
                        </div>
                        <button id="id-btn-signin" class="btn-registrer" onclick="location.href='{% url 'login' %}'">ENTRAR</button>
                      </div>
                </div>
                <div id="form-container" class="col-sm-6">
                    <h2 id="text-singup" class="information">Olá, professor!<br>Crie sua conta</h2>
                    <form method="post">
                        {% csrf_token %}
                        <div id="id_name" class="input-signup">
                            {{ form.name.erros }}
                            {{ form.name }}
                        </div>
                            <br>
                        <div id="id_email" class="input-signup">
                            {{ form.email.erros }}
                            {{ form.email }}
                        </div>
                            <br>
                        <div id="id_username" class="input-signup">
                            {{ form.username.erros }}
                            {{ form.username }}
                        </div>
                            <br>
                        <div id="id_password" class="input-signup">
                            {{ form.password.erros }}
                            {{ form.password }}
                        </div>
                        <button id="id-btn-signup" class="btn-registrer" type="submit">CADASTRAR</button>
                    </form>
               </div>
            </div>
        </div>
    </div>
</body>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>