{% extends "__base.html" %}
{% load static %}

{% block extra_css %}
<link href="{% static "css/jf_delete_page_styles.css" %}" rel="stylesheet" />
{% endblock extra_css %}

{% block base_content %}
    <div id="right-center-content" class="confirm-content">
        <ul id="head-group">
            <li class="li-head-group"><span class="span-head-group">Exclusão de JF</span></li>
        </ul>
        <div id="line"></div>
        <form class="d-flex" method="post">{% csrf_token %}
            <div class="message">
                <p>Você deseja realmente excluir o JF "{{ object }}"?</p>
            </div>
            <div class="buttons">
                <a href='{% url 'group_list' %}'><span class="btn btn-success">Cancelar</span></a>
                <input type="submit" class="btn btn-danger" value="Excluir Turma">
            </div>
        </form>
    </div>
{% endblock base_content %}
