<!-- templates/home.html-->
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>JF-Page</title>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="https://fonts.googleapis.com/css?family=Raleway" type="text/css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Overpass" type="text/css" rel="stylesheet"/>
    <link href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" type="text/css" rel="stylesheet"/>
    <link href="../../static/css/jf_list_page_styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="{% static 'assets/js/home_base_scripts.js' %}"></script>
</head>
<body>
<div id="id-container" class="container">
    <div class="row">
        <div id="menu-vertical-left" class="col-sm-3">
            {% if user.is_active %}
            <div id="user-identification">
                <img src="" alt="">
                {{ user.username }}
            </div>
            <ul id="menu-home-ul" class="nav nav-pills">
                <li class="menu-home-li">
                    <a href="{% url 'group_list' %}" class="active">Turmas</a>
                </li>
                <li class="menu-home-li">
                    <a href="{% url 'judgment_facts_list' %}">Julgamento de Fatos</a>
                </li>
                <li class="menu-home-li">
                    <a href="#">Estatísticas</a>
                </li>
                <li class="menu-home-li">
                    <a href="#">Configurações</a>
                </li>
                <li class="menu-home-li">
                    <a href="#">Sobre</a>
                </li>
                <li class="menu-home-li">
                    <a href="#">Ajuda</a>
                </li>
                <li class="menu-home-li">
                    <a href="{% url 'login' %}">Sair</a>
                </li>
            </ul>
        </div>
        {% else %}
          <p>Sua sessão expirou... </p>
          <a href="{% url 'login' %}">Entrar</a>
        {% endif %}
        <div id="home-content" class="col-sm-9">
            <div id="title">
                <h1>JF</h1>
                <div id="searchbar">
                    <input type="text" placeholder="Pesquisar em Julgamento de Fatos">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </div>
            </div>
            <div id="btn-create-group">
                <a href='{% url 'judgement_facts_create' %}'><span class="btn btn-success">+ Criar um JF</span></a>
            </div>
            <div id="right-center-content">
                <ul id="head-group-presentation">
                    <li class="li-head-group"><span class="span-head-group">Nome</span></li>
                    <li class="li-head-group"><span class="span-head-group">ID</span></li>
                    <li class="li-head-group"><span class="span-head-group">Turma</span></li>
                    <li class="li-head-group"><span class="span-head-group">Duração</span></li>
                    <li class="li-head-group"><span class="span-head-group">Status</span></li>
                    <li class="li-head-group"><span class="span-head-group">Ações</span></li>
                </ul>
                <div id="line"></div>
                <ul id="body-group-presentation">
                    {% for jf in object_list %}
                        <li class="li-body-group"><span class="span-body-group">{{ jf.name }}</span></li>
                        <li class="li-body-group"><span class="span-body-group">{{ jf.id }}</span></li>
                        <li class="li-body-group"><span class="span-body-group">{{ jf.group_set.name }}</span></li>
                        <li class="li-body-group"><span class="span-body-group">{{ jf.fact_max_time.all }}</span></li>
                        <li class="li-body-group"><span class="span-body-group">{{ jf.status }}</span></li>
                        <li class="li-body-group">
                            <a href='{% url 'judgment_facts_detail_detail' group.id %}'><img class="image-actions" src="../../static/images/foreign.png" alt="Visualizar"></a>
                            <a href='{% url 'judgment_facts_update_update' group.id %}'><img class="image-actions" src="../../static/images/edit.png" alt="Editar"></a>
                            <a href='{% url 'judgment_facts_delete_delete'  group.id %}'><img class="image-actions" src="../../static/images/trash.png" alt="Excluir"></a>
                        </li>
                        <br> <br>
                    {% empty %}
                        <li id="empty-jf">Ainda não há julgamento de fatos cadastradas</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>
