{% extends "__base.html" %}
{% load static %}

{% block extra_css %}
<link href="{% static "css/jf_create_page_styles.css" %}" rel="stylesheet" />
{% endblock extra_css %}

{% block base_content %}
    <div id="right-center-content" class="confirm-content">
        <form class="d-flex" method="post">{% csrf_token %}
            {{ form.as_p }}
            <div class="buttons">
                <a href='{% url 'group_list' %}'><span class="btn btn-danger">Cancelar</span></a>
                <input type="submit" class="btn btn-success" value="Atualizar turma">
            </div>
        </form>
    </div>
{% endblock base_content %}
