
#id-signup-type {
    font-family: Raleway, "Lucida Grande", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-variant: normal;
    line-height: 30px;
    position: absolute;
    text-align: right;
    font-size: 30px;
    top: 50px;
    left: 42.5%;
    color: #76BAC9;

}

#div_principal {
    display: block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 7%;
}

.signup-type {
    background-color: #FFFAFA;
    color: #76BAC9;
    border: 2px solid #76BAC9;
    border-radius: 15px;
    width: 150px;
    height: 40px;
    font-size: 15px;
}

#id-back {
    color: #76BAC9;
    display: inline;
    margin-left: -10%;
    margin-right: auto;
    margin-top: -7%;
    position: absolute;
    width: 50%;
}

#background_2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#id-type-options {
    margin-top: -22%;
}