#head-group-presentation {
    list-style-type: none;
    padding-top: 25px;
    padding-left: 26px;
}

.li-head-group {
    display: inline;
    padding: 10px;
    margin-left: 15px;
    margin-right: 60px;
    color: #797979;
    font-size: 14px;
    text-align: right;
}

#line {
    background-color: #e6e6e6;
    height: 1px;
}

#body-group-presentation {
    list-style-type: none;
    padding-top: 10px;
    padding-left: 10px;
}

.li-body-group {
    display: inline-block;
    padding: 10px;
    margin-left: 15px;
    margin-right: 23px;
    font-size: 11px;
    width: 100px;
}

.image-actions {
    width: 22px;
    height: 22px;
}

#btn-create-group{
    margin-top: 47px;
    float: right;
}

#right-center-content > form {
    padding-top: 40px;
}

#right-center-content > form > p {
    margin-top: 0;
    margin-bottom: 1rem;
    display: grid;
    width: 500px;
    margin-left: 180px;
}


#right-center-content > form > input.btn.btn-success {
    margin-left: 150px;
    margin-top: 20px;
}

#right-center-content > form > p > label {
    color: #76BAC9;
}

#right-center-content > form > a > span {
    margin-top: 20px;
    margin-left: 230px;
    margin-right: 20px;
}