#head-group-presentation {
    list-style-type: none;
    padding-top: 25px;
    padding-left: 26px;
}

.li-head-group {
    display: inline;
    padding: 10px;
    margin-left: 15px;
    margin-right: 60px;
    color: #797979;
    font-size: 14px;
    text-align: right;
}

#line {
    background-color: #e6e6e6;
    height: 1px;
}

#body-group-presentation {
    list-style-type: none;
    padding-top: 10px;
    padding-left: 10px;
}

.li-body-group {
    display: inline-block;
    padding: 10px;
    margin-left: 15px;
    margin-right: 23px;
    font-size: 11px;
    width: 100px;
}

.image-actions {
    width: 22px;
    height: 22px;
}

#btn-create-group{
    margin-top: 47px;
    float: right;
}

#empty-groups {
    margin-top: 200px;
    margin-left: 300px;
}
