* {
    font-weight: 700;
    line-height: 26.4px;
    font-family: Raleway;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 15.4px;
    font-family: Raleway;
    line-height: 18.5714px;
}

body {
    background: url('/static/images/background_main_system.png') no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
}

#user-identification {
    padding-bottom: 70%;
}

.input-signup {
    margin-top: 12%;
}

.input-signup input {
    border-bottom: 1px solid;
    border-top: none;
    border-right: none;
    border-left: none;
    width: 300px;
    height: 20px;
}

.input-signup select {
    border-bottom: 1px solid;
    border-top: none;
    border-right: none;
    border-left: none;
    width: 300px;
    height: 20px;
}

#title-text {
    position: fixed;
    color: #76BAC9;
    margin-top: 2%;
    margin-left: 18%;
}

#right-center-content {
    width: 900px;
    height: 500px;
    margin-top: 11%;
    position: fixed;
    margin-left: 30%;
    margin-right: auto;
    background-color: #FFFAFA;
    border-radius: 20px;
    box-shadow: rgba(171, 180, 215, 1) 0 2px 20px;
}

ul {
    list-style-type: none;
    padding-left: 20px;
}

li {
    padding-bottom: 15%;
}

li a {
    border-radius: 20px 0 0 20px;
}

.vertical-menu a {
    background-color: #FFFAFA;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #76BAC9;
}

.vertical-menu a.active {
    background-color: #76BAC9;
    color: #FFFAFA;
}

.vertical-menu{
    margin: 0;
    padding: 0;
    width: 15%;
    top: 0;
    background-color: #FFFAFA;
    position: fixed;
    height: 100%;
    overflow: auto;
    box-shadow: rgba(171, 180, 215, 1) 0 2px 40px;
}



